/* roboto-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-cyrillic_latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-900 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v30-cyrillic_latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.body {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 2px;
    font-weight: normal;
    color: black;
}

.wrapper {
    max-width: 80%;
    margin: 0 auto;
}

.header {   
    background: black;
    width: 100%;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header__logo{
    display: flex;
    align-items: center;
}
.header__logo-name {
    color: white;
    margin-left: 10px;
    font-style: large;
    font-size: 30px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 47px;
    box-shadow: inset 0px 2px rgb(92, 87, 87);
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-size: 24px;
    font-weight: 400;
    line-height: 130%;
    text-decoration: none;
    color: white;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
    opacity: 75%;
}

.intro {
    min-height: 100%;
    background: url(../img/background.jpg) no-repeat;
    background-size: cover;
    padding-top: 150px;
}

.intro__title {
    font-size: 45px;
    font-weight: 900;
    line-height: 130%;
    color: white;
    margin-bottom: 25px;
    padding-left: 20px
}

.tittle__text {
    padding-left: 30px;
    max-width: 1000px;
    font-size: 25px;
    font-weight: 700;
    line-height: 130%;
    color: rgb(177, 169, 169);
    margin-bottom: 56px;
}

.tit_uslug {
    text-align: left;
}

.tittle__uslug {
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

mark {
    color: white;
    background-color: #808080;
    background: transparent;
}

/* new section */
.box__style {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.uslug__box {
    width: 319px;
    height: 400px;
    font-size: 25px;
    border: 4mm ridge rgb(92, 87, 87);
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    text-align: center;
}

.uslug__name {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 700;
    padding-top: 10px;
    align-self: center;
}

.uslug__price {
    padding-top: 130px;
    font-size: 25px;
    font-weight: 700;
    color: rgb(184, 174, 174);
    font-variant: small-caps slashed-zero;
}

.uslug__button {
    align-self: flex-end;
    background-color: white;
    color: rgb(0, 0, 0);
    font-weight: 700;
    margin-top: 85px;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 20px;
    padding: 15px;
    text-decoration: none;
    
}


.uslug__button:hover {
    cursor: pointer;
    transition: 1s;
    opacity: 75%;
    background-color: grey;
}

.feedback {
    background: url(../img/1614285056_12-p-chernii-fon-oboi-na-rabochii-15.jpg);
    padding-top: 100px;
    padding-bottom: 100px;
}

.styling {
    max-width: 1377px;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}

.tittle__feedback {
    color: white;
    width: 100%;
    font-weight: 700;
    font-size: 50px;
    line-height: 45px;
    text-align: center;
    padding-top: 30px;
    position: absolute;
    transform: translateY(-136%);
}


.feedback_item p {
    display: inline-block;
}

.feedbacks__nums {
    padding-top: 50px;
    width: 65%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.feedback_item:nth-child(2){
    align-self: flex-end;
    text-align: right;
}

.feedback_item:nth-child(4){
    align-self: flex-end;
    text-align: right;
}

.feedback__1 {
    color: #fff;
    max-width: 300px;
    max-height: 100px;
    font-size: 35px;
}

.feedback__1--url {
    width: 468px;
    height: 63px;
    background: url(..//img/image\ 1.jpg) no-repeat;
    color: #fff;
    border: 5px solid #f5aaaa;
    opacity: 0;
    transition: 1s;

}

.feedback__1:hover+.feedback__1--url {
    opacity: 1;
    transition: 1s;
}

.feedback__2 {
    color: #fff;
    font-size: 35px;
}

.feedback__2--url {
    width: 461px;
    height: 70px;
    background: url(..//img/image\ 2.jpg) no-repeat;
    color: #fff;
    border: 5px solid #f5aaaa;
    opacity: 0;
    transition: 1s;
}

.feedback__2:hover+.feedback__2--url {
    opacity: 1;
    transition: 1s;
}

.feedback__3 {
    max-width: 300px;
    max-height: 100px;
    color: #fff;
    font-size: 35px;
}

.feedback__3--url {
    width: 464px;
    height: 119px;
    background: url(..//img/image\ 4.jpg) no-repeat;
    color: #fff;
    border: 5px solid #f5aaaa;
    opacity: 0;
    transition: 1s;
}

.feedback__3:hover+.feedback__3--url {
    opacity: 1;
    transition: 1s;
}

.feedback__4 {
    color: #fff;
    font-size: 35px;
}

.feedback__4--url {
    width: 438px;
    height: 96px;
    background: url(..//img/image\ 3.jpg) no-repeat;
    color: #fff;
    border: 5px solid #f5aaaa;
    opacity: 0;
    transition: 1s;
}

.feedback__4:hover+.feedback__4--url {
    opacity: 1;
    transition: 1s;
}



/* NEW CONN */
.connection {
    background: url(../img/more_volny_chernyj_120771_2560x1440.jpg);
}

.constyle {
    max-width: 1377px;
    height: 635px;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}

.title__con {
    color: white;
    width: 100%;
    font-weight: 700;
    font-size: 50px;
    line-height: 45px;
    text-align: center;
    padding-top: 30px;
    position: absolute;
    transform: translateY(-20%);
    /*background-color: rgb(77, 75, 75);*/
}

.con__form--info-user
{
    text-align: center;
    position: relative;
    font-weight: 700;
    font-size: 35px;
    top: 175px;
    color: white;
}

.con-form__style {
    color: white;
    display: flex;
    flex-direction: column;
}

.con-form__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*position: relative;*/
}

.con-form__field {
    width: 300px;
    background-color: grey;
    border: 0;
    border: 2px 2px 2px 2px;
    font-weight: 500;
    font-size: 25px;
    color: black;
    margin-top: 300px;
    border: 0.2em solid #ffffff;

}
.con-form__field::placeholder
{
    font-weight: 500;
    font-size: 25px;
    color: white;
    opacity: 0.2;
}

.search-form__submit
{
    font-weight: 500;
    font-size: 30px;
    color: white;
    background-color: black;
    margin: 0 auto;
    position: relative;
    top: 80px;
}
.search-form__submit:hover,.search-form__submit:focus,.search-form__submit:active
{
    background-color: grey;
}

/* dsalod;sa */

.BackMoStyle
{
    min-height: 300px;
    margin: 0 auto;
    background: url(../img/tekstura_chernyj_grafit_153177_2560x1440.jpg);
}
.tittle__back
{
    font-weight: 700;
    font-size: 50px;
    line-height: 45px;
    text-align: center;
    padding-top: 30px;
    color: white;
}
.backM__textforuser
{
    color: #FFF;
    padding-top: 27px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 160%; 
}
.Adress
{
    display: flex;
}
.adstyle
{
    background: black;
    padding-left: 23%;
    max-width: 1377px;
    height: 480px;
}

.title__adress
{
    text-align: center;
    color: white;
    font-size: 36px;
    font-weight: 700;
}

.adress__title
{
    background-color: #000000;
    width: 100%;
    font-size: 20px;
    color:white
}
.adress__text
{
    text-align: center;
    padding-right: 40%;
    padding-top: 70px;
    font-size: 30px;
    font-weight: 700;
}
.adress__text--comp
{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding-right: 40%;
    margin-top: 180px;
}

/* dsajkdsa*/

.podval
{
    width: 100%;
    background-color:#1C1B20 ;
}

.podval__style
{
    font-size: 23px;
    font-weight: 700;
    line-height: 150%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
}


.podvall_text--right
{
    font-weight: 700;
}
.podvall_text--right2
{
    padding-left: 11%;
}
.podvall_text--left2
{
    position: relative;
    top: 44px;
    color: rgb(116, 113, 107);
    text-decoration: none;
    transition: 1s;
}
.podvall_text--left2:hover {
    opacity: 75%;
    color: white;
}
.podvall_left3:hover{
    opacity: 75%;
    color:white
}
.podvall_left3
{
    position: relative;
    top: 48px;
    color: rgb(116, 113, 107);      
    text-decoration: none;
    transition: 1s;
}
.podvall_text--right3
{
    margin-top: 50px;
}

.resizeble:hover{
    opacity: 1;
    cursor: pointer;
}
.visible {
    position: fixed;
    height: 175px;
    width: 950px;
    z-index: 10;
    top: 35%;
    left: calc(50% - 475px);
}

.layout {
    display: block;
    background-color: #000000;
    opacity: 0.5;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 3;
    top: 0;
    left: 0;
}

@media (max-width: 1450px) {
    .map
    {
        width: 600px;
    }

}

@media (max-width: 1150px) {
    .map
    {
        width: 500px;
    }
}

@media (max-width: 900px) {
    .map
    {
        width: 300px;
    }
}

@media (max-width: 780px) {
    .box__style{
        flex-direction: column;
        gap:20px;
    }
}